.container.page-margin-bottom
  =render('content_packages/sitemap_header', header_title: 'Documents')
  .row
    .col-xs-12
      #document-form.page-margin-bottom
        =render('documents/form')

      .documents-list-holder
        %table.cms-table
          %thead
            %tr.text-left
              %th.documents-name-column Name
              %th.documents-link-column link
              %th.documents-delete-column Delete
          %tbody
            -@documents.each do |document|
              =render('document', document: document)
